.details{position: relative;width: 820px;}
.details>.head{position: relative;height: 25px;width: 100%;line-height: 25px;}
.details>.head>i{width: 3px;height: 100%;display: inline-block;background: #009688;margin-left:5px;vertical-align: middle;}
.details>.head>span{height: 100%;margin-left:15px;line-height: 100%;vertical-align: middle;}
.details>.contents{padding:12px 0 12px 23px;width: 100%;min-height: 500px;}
.contents>p{height: 30px;line-height: 30px;}
.contents>.line{height: 1px;width: 100%;background: #c2c2c2;margin: 15px 0px 10px;}
.contents>.box>p{line-height: 30px;margin-top: 10px;}
.repley-box{padding: 12px 0 12px 23px;}
.repley-box>p{line-height: 30px;}
.repley-box>textarea{border-color: #c2c2c2;}
.repley-box>button{margin-top: 10px;}
.contents>.files-box{margin-top: 30px;}
.contents>.box>p,.contents>.box>.inline-block{display: inline-block;}
.contents>.comment-box{width: 100%;margin-top: 30px;}
.contents>.comment-box>.comment{background: #f2f2f2;padding: 5px 10px;}
.contents>.comment-box>.comment>li{border-bottom: 1px solid #c2c2c2;line-height: 30px;cursor: pointer;}
.contents>.comment-box>.comment>li:last-child{border-bottom: none;}
.contents>.comment-box>.pages-box{text-align: right;}
.contents>.comment-box>.pages-box>.pages{display: inline-block;padding: 15px 0;cursor: pointer;}
.contents>.comment-box>.pages-box>.pages>.active-page{color: #5FB878;}
.contents>.comment-box>.pages-box>.pages>a{padding: 0 2px;}
.contents>.comment-box>.pages-box>.pages>a:hover{color: #5FB878;}
.comment-box>.controls{text-align: right;width: 100%;padding: 20px 0;}
.comment-box>.controls>button.back-btn{background-color:#fff!important;color: #333; border:1px solid #D2D2D2;}
.comment-box>.controls>button{padding:0 40px;}
.details>.repley-box{position: relative;width:100%;}
.details>.repley-box>button{padding:0 40px;float: right;}