.tabs{position: relative;width: 100%;text-align: left;border-bottom:1px solid #333;}
.tabs>li{position: relative;height:25px;display: inline-block;padding: 0 6px;margin-left: 10px;cursor: pointer;}
.tabs>li>.tabname{width: 100%;height: 100%;line-height: 100%;font-size: 15px;transition: all .3s;}
.tabs>li.active-tab>.tabname{color: #009688;}
.tabs>li:first-child{margin-left: 0px;}
.tabs>li>.line{position: absolute;bottom:0px;left:0px;width: 100%;height: 3px;transition: all .3s;}
.tabs>li.active-tab>.line{background: #009688;}

.edit-contents{position: relative;width: 820px;}
.edit-contents>.edit-type{position: relative;height: 25px;width: 100%;line-height: 25px;}
.edit-contents>.edit-type>i{width: 3px;height: 100%;display: inline-block;background: #009688;margin-left:5px;vertical-align: middle;}
.edit-contents>.edit-type>span{height: 100%;margin-left:15px;line-height: 100%;vertical-align: middle;}
.edit-content{position: relative;width: 100%;padding: 15px 0px 0px 23px;}
.edit-content>.input-div{position: relative;width: 100%;margin-top: 17px;}
.edit-content>.input-div>span,.edit-content>.files>span{display: inline-block;font-size: 16px;width: 100px;text-align: right;}
.edit-content>.input-div>input{margin-left: 10px;display: inline-block;border: 1px solid #c2c2c2;border-radius: 4px;}
.edit-content>.input-div>.input-ms{width: 200px;}
.edit-content>.input-div>.input-lg{width: 300px;}
.edit-content>.input-div>.selectDiv{width: 200px;display: inline-block;}

/* .edit-content>.input-div:first-child{margin-top: 0px;} */
.files{position: relative;width: 100%;margin-top: 40px;text-align: left;}
.files>div{display: inline-block;}
.files>.choose-file{position: relative;display: inline-block;border:1px solid #333;padding: 20px 15px;margin-left: 10px;}
.files>.choose-file>.iconfont{font-size: 24px;color: #000;}
.files>.choose-file>.file-input{width: 100%; height: 100%; display: inline-block; position: absolute; top: 0px; left: 0px; opacity: 0;}
.user-head,.user-bg{background-position: center;background-repeat: no-repeat;background-size: cover;vertical-align: middle;margin-left: 10px;}
.user-head{display: inline-block;width: 80px;height: 80px;border-radius: 50%;}
.user-bg{display: inline-block;width: 300px;height: 172px;}

.controls{width: 100%;position: relative;text-align: right;margin-top: 75px;}
.controls>button{margin-left: 10px;padding:0 40px;}
.controls>button:first-child{margin-left: 0px;}
.controls>.back-btn{background-color: #fff;color: inherit;border: 1px solid #D2D2D2; }

.selectDiv{position:relative;width:150px;display: inline-block;margin-left: 10px;}
.contents>li>.controls>.text-left>.fenlei-selectDiv{width: 120px;}
.selectDiv>.input{width: 100%; height: 38px; line-height: 38px;font-size:14px;letter-spacing: 1px;position: relative; border: 1px solid #c2c2c2;
    cursor: pointer; padding-left: 10px;padding-right: 30px;transition: all .4s;border-radius: 4px;}
.selectDiv>.input:hover{border-color:#aaa!important;}
.selectDiv>.input .selectBtn img{vertical-align:middle;margin-right:5px;}
.selectDiv>.input .arrow-icon{border-style:solid dashed dashed;border-color:#c2c2c2 transparent transparent transparent;
    cursor:pointer;transition:all .3s;-webkit-transition:all .3s;border-width:6px;position:absolute;right:10px;top:13px;}
.selectDiv>.input .arrow-active{transform:rotate(180deg);-webkit-transform:rotate(180deg);top:5px;}
.selectDiv>.options{background:#fff;width:100%;position:relative;border: 1px solid #c2c2c2;padding:5px 0px;
    animation-name:select-animation;-webkit-animation-name:select-animation;display:none;max-height:300px;overflow-y:auto;z-index:99;
    position:absolute;border-radius: 4px;margin-top:0px;top:35px;}
.selectDiv>.options li{font-size: 14px;letter-spacing: 1px;line-height:30px;padding:0px 10px;white-space: nowrap;overflow: hidden;
    text-overflow: ellipsis;}
.selectDiv>.options li img{vertical-align:middle;margin-right:5px;}
.selectDiv>.options li:hover{background:#5FB878;color:#fff;}